<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"> 
                <span>Copyright &copy; <%= theme.since %>
                </span> | 
                <span>
                    <%= theme.blog_name %>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
